*{
    margin: 0;
    padding: 0;
}
.outer{
    width: 528px;
    height: 271px;
    margin: 100px auto;
    text-align: center;
    background-color: #bfa;
    padding: 10px;
}
.outer img{
    width: 100%;
    margin-top: 30px;
}